@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    font-family: "Ubuntu";
    background: #1F1F22;
}

button{
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: #37373D;
    transition: all 0.4s;
}

body.open .sidebar{
    width: 240px;
}

.sidebar-inner{
    position: absolute;
    top: o;
    left: 0;
    width: 300pc;
}

.sidebar-header{
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 1.25rem 0 0 ;
    background: #141428;
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-header:hover{
    border-left: 3px solid #bdbdbd;
}

.sidebar-burger{
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
}

.sidebar-burger > i, body.open .sidebar-burger > i{
    font-size: 25px;
    color: #AAAAD4;
    transition: all 0.4s;
}

.sidebar-burger:hover > i, body.open .sidebar-burger:hover > i{
    color: #7373ff;
}

.sidebar-logo{
    height: 30px;
    opacity: 0;
    transition: all 0.4s;
}

body.open .sidebar-logo{
    opacity: 1;
    transition: all 0.4s;
}

.sidebar-menu{
    display: grid;
}

.sidebar-menu > button{
    display: flex;
    gap: 12px;
    align-items: center;
    height: 55px;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 20px;
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-menu > button:hover{
    border-left: 3px solid #bdbdbd;
}

.sidebar-menu > button{
    border-bottom: 0.5px inset #1F1F22;
}

.sidebar-menu > button >i{
    font-size: 25px;
    color: #b2b2ff;
    transition: all 0.4s;
}

.sidebar-menu > button:hover > i, .sidebar-menu > button:hover > span{
    color: #bdbdbd;
}

.sidebar-menu > button > span{
    color: whitesmoke;
    opacity: 0;
    transition: all 0.4s;
}

body.open .sidebar-menu > button > span{
    opacity: 1;
    transition: all 0.4s;
}